
/bin/
/reports/
/tests/fixtures/project_01/docroot/
/tests/fixtures/project_01/sites/*/databases/
/tests/fixtures/project_01/sites/*/private/
/tests/fixtures/project_01/sites/*/hash_salt.txt
/tests/behat/behat.local.yml
/tmp/
/vendor/
